@import url('https://fonts.cdnfonts.com/css/gagalin');   
@import url('https://fonts.cdnfonts.com/css/agbalumo');

body{
    background-color: #f7fbfe;
}

#esasqutu{
    display: flex;
/*    flex-direction: row;*/
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-left: -3px;
    
}
.xerite{
    box-sizing: border-box;
    height: 100%;
    
    
}
#harita{
    height: 600px;
    width: 850px;
    
}
.funksionalliq{
    width: 100%;
    height: 100%;
}
.oyun{
    margin: auto;
    background-color: #cccdce;
    max-width: 70%;
    height:50px;
    border: 1px solid #cccdce;
    border-radius: 25px;
    display: grid;
    place-items: center;
    font-family: gagalin;
    
    
}

.oyun.basliq{
    margin-top: 70px;
    font-size: 25pt;
}

.oyun.basla{
    margin-top: 75px;
    width: 50%;
    font-size: 19pt;
    
}

.oyun.basla:hover{
    background-color: #737373;
}
.oyun.rayon{
    margin-top: 55px;
    font-size:19pt;
    font-family:agbalumo;
}

.neticeler{
    margin-top:55px;
    max-width: 70%;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    font-family: gagalin;
    font-size: 19pt;

}


.haqqinda{
    margin: auto;
    background-color: #cccdce;
    max-width: 70%;
    margin-top: 50px;
    display: grid;
    place-items: center;
    font-size: 17pt;
    border: 1px solid #cccdec;
    
}
.haqqinda p{
    margin-left: 5px;
}


